@using WEB_153502_KIRZNER.Domain.Entities

@page "/fetchdata"
@inject HttpClient Http
@inject IDataService dataService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
  <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                </tr>
            }
        </tbody>
    </table>

@code {
    private WeatherForecast[]? forecasts;
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        await dataService.GetProductListAsync(null, 1);
        products = dataService.ObjectsList;
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}

