@using WEB_153502_KIRZNER.Domain.Entities
@model Cart

<a class="navbar-text ms-auto" asp-controller="cart" asp-action="Index">
    @Math.Round(@Model.TotalPrice, 2) руб <i class="fa-solid fa-cart-shopping"></i> (@Model.Count)
</a>

